<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.infosalud.cloudflared</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/krisnova/bin/cloudflared</string>
    <string>--protocol</string>
    <string>http2</string>
    <string>--edge-ip-version</string>
    <string>4</string>
    <string>tunnel</string>
    <string>--config</string>
    <string>/Users/krisnova/.cloudflared/config.yml</string>
    <string>run</string>
    <string>halt-to-safe</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>/tmp/cloudflared-tunnel.log</string>
  <key>StandardErrorPath</key><string>/tmp/cloudflared-tunnel.log</string>
</dict>
</plist>
